#missao {
    font-size: 20px;
}

#banner{
    width: 100%;
    
}

em strong {
    color: #FF0000
}

p{
    text-align: center;
    
}

h1{
    text-align: center;
    border: 10px solid #000000;
}

body{
    background: #CCCCCC;
}